.Navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: gray;
  border-bottom: thick solid teal;
  justify-content: space-between;
}

.ButtonsContainer {
  display: flex;
  height: 10vh;
  flex-direction: row;
   
}

.Logo {
  display: flex;
  padding: 10px;
   
  align-self: center;
  font-size: 6vh;
  text-decoration: underline;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: teal;
}
